* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.home {
  width: 100%;
}

.hero-section {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1501167786227-4cba60f6d58f");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-content {
  max-width: 800px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.hero-btn {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.services-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.contact-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  margin: 60px auto;
  max-width: 1200px;
  padding: 0 20px;
  border-radius: 1px;
  border-color: #f0f0f0;
}

.card {
  width: 30%;
  padding: 25px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.card h3 {
  color: #2e3547;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: rgb(13 153 147);
}

.card ul {
  list-style-type: none;
}

.card ul li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.card ul li:last-child {
  border-bottom: none;
}
